extends layout

block content
  header.main-header
    h1
      a.first-title(href='/') Все спектакли Харькова на одной странице
      if title.currentMonth
        span &nbsp;/&nbsp;
        if today.month() === filter.month
          strong.second-title= title.currentMonth
        else
          a.second-title.no-print(
            href='/year/' + today.year() + '/month/' + (today.month() + 1)
          )= title.currentMonth
        span.no-print &nbsp;—&nbsp;
        if today.month() === filter.month
          a.second-subtitle.no-print(
            href='/year/' + nextMonth.year() + '/month/' + (nextMonth.month() + 1)
          )= title.nextMonth
        else
          strong.second-subtitle= title.nextMonth
      if title.theatre
        span &nbsp;/&nbsp;
        span.third-title= title.theatre

  .scroll-top
  .container-fluid.month-container
    .filters-col
      include month/filters
      script window.filter = !{JSON.stringify(filter)};
    .poster
      .row
        .col-lg-10
          .month
            each date in days
              .day.row(
                class='day-' + date.day() + ' date-' + date.date() +
                  (!date.shows.length ? ' no-shows' : '') +
                  (today.isSame(date, 'day') ? ' today' : '')
                data-day=date.date()
              )
                .col-2
                  p.day-number
                    span.day-number-number= date.format('D')
                    | &nbsp;
                    span.day-of-week-name
                      span.hidden-sm-down= date.format('dddd')
                      span.hidden-md-up= date.format('ddd')
                      if today.isSame(date, 'day')
                        span.hidden-xs  (сегодня)
                .shows.col-10
                  include month/shows

      include month/footer