extends ../layout

block content
  .container
    .jumbotron
      h1= title
      p
        - selectedMonthDate = moment({month: s.strLeft(filter.month, '-') - 1, year: s.strRight(filter.month, '-')})
        | #{s.capitalize(selectedMonthDate.format('MMMM YYYY'))}
        | &nbsp;&nbsp;&middot;&nbsp;&nbsp;
        if (schedule)
          +pluralizePlaysNumber(schedule.shows.length)
        else
          | нет расписания

    include ../flash

    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.mb-3
      button.navbar-toggler.navbar-toggler-right(
        type="button"
        data-toggle="collapse"
        data-target="#filter-nav"
      )
        span.navbar-toggler-icon
      div#filter-nav.collapse.navbar-collapse
        form.form-inline.mr-auto
          select.form-control.form-control-sm.mb-2.mr-sm-2.mb-sm-0(
            id='filter-month'
            name='month'
          )
            each month in months
              option(value=month.key selected=filter.month==month.key data-starting-value=month.actual)= month.value
          label(for='filter-theatre').mr-sm-2 Театр:
          select.form-control.form-control-sm.mb-2.mr-sm-2.mb-sm-0(id='filter-theatre' name='theatre')
            option(value='') —
            each theatre in theatres
              option(value=theatre.id selected= filter.theatre == theatre.id)= theatre.title
          label(for='filter-scene').mr-sm-2 Сцена:
          select.form-control.form-control-sm.mb-2.mr-sm-2.mb-sm-0(id='filter-scene' name='scene')
            option(value='') —
            each scene in scenes
              option(value=scene.id selected= filter.scene == scene.id)= scene.title
          label(for='filter-version').mr-sm-2 Версия:
          select.form-control.form-control-sm.mb-2.mr-sm-2.mb-sm-0(id='filter-version' name='version')
            each version in versions
              - var versionKey = version.actual ? '' : version.version
              option(value=versionKey selected= filter.version == versionKey data-starting-value=!versionKey)
                = version.version + (version.actual ? ' (актуальная)' : '')
          button.btn.btn-sm.btn-outline-warning.mb-2.mr-sm-2.mb-sm-0.my-2.my-sm-0(
            type='button'
            data-action='reset-filters'
            hidden
          ) Сбросить

        if (schedule)
          div
            a.btn.btn-sm.btn-primary(href='/admin/schedule/' + schedule.id + '/show/add') Добавить

    if (!schedule)
      .alert.alert-warning(role="alert") На этот месяц расписания нет.
    else
      if (!schedule.actual)
        .alert.alert-warning(role="alert")
          | Это <strong>не актуальная</strong> версия расписания.&nbsp;
          a.btn.btn-sm.btn-secondary(href='?month=' + filter.month +
            '&theatre=' + filter.theatre + '&scene=' + filter.scene + '&version='
          ) Смотреть актуальную
      table.table
        thead
          tr
            th Дата/время ↓
            th Спектакль
            th Театр
            th Сцена
            th(width=100)
        tbody
          each show in schedule.shows
            tr
              td #{moment(show.date).format('D MMM HH:mm')}
              td
                a(href='/admin/schedule/' + schedule.id + '/show/edit/' + show.id)
                  = show.play ? show.play.title : '[УДАЛЕН]'
                if show.duplicateOf
                  =' '
                  span.badge.badge-default(title=show.duplicateOf) дубликат
              td
                if (show.theatre)
                  = show.theatre.title
              td
                if (show.scene)
                  = show.scene.title
              td
                button.btn.btn-sm.btn-outline-danger.mb-xs-2.mr-2(
                  data-action='remove'
                  data-url='/admin/schedule/' + schedule.id + '/show/remove/' + show.id
                  data-id=show.id
                  data-return-url='/admin/schedule?month=' + schedule.monthKey
                ) удалить
                button.btn.btn-sm.btn-outline-warning.mb-xs-2(
                  data-action='mark-as-duplicate'
                  data-url='/admin/schedule/' + schedule.id + '/show/mark-as-duplicate/${duplicate-id}'
                  data-id=show.id
                  data-return-url='/admin/schedule?month=' + schedule.monthKey
                ) дубликат