extends ../layout

block content
  .container
    .jumbotron
      h1= title
      p
        +pluralizeItemsNumber(scenes.length)

    include ../flash

    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(
        type="button"
        data-toggle="collapse"
        data-target="#plays-list-nav"
      )
        span.navbar-toggler-icon
      div#plays-list-nav.collapse.navbar-collapse
        div.mr-auto
        div
          a.btn.btn-sm.btn-primary(href='/admin/scenes/create') Создать новую

    table.table
      thead
        tr
          th Название ↓
          th Ключ
          th(width=100)
      tbody
        each scene in scenes
          tr
            td
              a(href='/admin/scenes/edit/' + scene.key)= scene.title
            td= scene.key
            td
              button.btn.btn-sm.btn-outline-danger(
                data-action='remove'
                data-url='/admin/scenes/remove/' + scene.key
                data-id=scene.id
                data-return-url='/admin/scenes'
              ) Удалить