extends ../layout

block content
  .container
    .jumbotron
      +title(title)
      p
        +pluralizeItemsNumber(scenes.length)

    include ../flash

    nav#filter-nav.nav.mb-3.py-2.px-3
      div.nav-item.mr-auto
      div.form-inline
        a.btn.btn-sm.btn-primary(href='/admin/scenes/create') Создать

    table.table
      thead
        tr
          th Название ↓
          th Ключ
          th(width=100)
      tbody
        each scene in scenes
          tr
            td
              a(href='/admin/scenes/edit/' + scene.key)= scene.title
            td= scene.key
            td
              button.btn.btn-sm.btn-outline-danger(
                data-action='remove'
                data-url='/admin/scenes/remove/' + scene.key
                data-id=scene.id
                data-return-url='/admin/scenes'
              ) Удалить