extends ../layout

block content
  .container
    .jumbotron
      h1= title
      p
        +pluralizeItemsNumber(theatres.length)

    include ../flash

    nav#filter-nav.nav.mb-3.py-2.px-3
      div.nav-item.mr-auto
      div.form-inline
        a.btn.btn-sm.btn-primary(href='/admin/theatres/create') Создать новый

    table.table
      thead
        tr
          th Название ↓
          th Аббревиатура
          th Ключ
          th(width=100)
      tbody
        each theatre in theatres
          tr
            td
              a(href='/admin/theatres/edit/' + theatre.key)= theatre.title
            td= theatre.abbreviation
            td= theatre.key
            td
              button.btn.btn-sm.btn-outline-danger(
                data-action='remove'
                data-url='/admin/theatres/remove/' + theatre.key
                data-id=theatre.id
                data-return-url='/admin/theatres'
              ) Удалить