extends ../layout

block content
  .container
    .jumbotron
      h1= title
      p
        +pluralizeItemsNumber(plays.length)

    include ../flash

    nav#filter-nav.nav.mb-3.py-2.px-3.bg-faded
      form.mr-auto
        div.form-inline
          input.form-control.form-control-sm.mb-2.mr-sm-2(
          type="search"
          name="query"
          placeholder="Название, ключ"
          value=filter.query
          )
          button.btn.btn-sm.btn-outline-success.mb-2 Искать

        div.form-inline
          //label(for='filter-theatre').mr-sm-2 Театр:
          select.form-control.form-control-sm.mr-sm-2(id='filter-theatre' name='theatre')
            option(value='') — театр —
            each theatre in theatres
              option(value=theatre.id selected= filter.theatre == theatre.id)= theatre.title

          //label(for='filter-scene').mr-sm-2 Сцена:
          select.form-control.form-control-sm.mr-sm-2(id='filter-scene' name='scene')
            option(value='') — сцена —
            each scene in scenes
              option(value=scene.id selected= filter.scene == scene.id)= scene.title
          button.btn.btn-sm.btn-outline-warning.mb-2.mr-sm-2.mb-sm-0.my-2.my-sm-0(
          type='button'
          data-action='reset-filters'
          hidden
          ) Сбросить
      div.form-inline
        a.btn.btn-sm.btn-primary(href='/admin/plays/create') Создать новый

    table.table
      thead
        tr
          th(width='40%') Название ↓
          th Театр
          th Сцена
          th
      tbody
        each play in plays
          tr
            td
              a(href='/admin/plays/edit/' + play.key)= play.title
              +playIcons(play)
            td
              if (play.theatre)
                = play.theatre.title
            td
              if (play.scene)
                = play.scene.title
            td.nobr
              button.btn.btn-sm.btn-outline-danger.mb-xs-2.mr-2(
                data-action='remove'
                data-url='/admin/plays/remove/' + play.key
                data-id=play.id
                data-return-url='/admin/plays'
                data-warning='Этот спектакль будет удален из всех расписаний.'
              ) Удалить
              a.btn.btn-sm.btn-outline-warning.mb-xs-2(
                data-action='absorb'
                href='/admin/plays/absorb/' + play.key
              ) Поглотить
