div
  if filter.theatre
    .filter-block
      a(href='/year/' + filter.year + '/month/' + filter.month) ← Все театры
  .filter-block
    h5 Выберите день
    .calendar
      each week in options.calendar
        .week.clearfix
          each day in week
            - isToday = day && today.isSame([filter.year, filter.month, day], 'day');
            .day(
              class=(!day ? ' out-of-month' : '') + (isToday ? ' today' : '')
              title=isToday ? 'Сегодня' : false
              data-day=day
            )= day

  .filter-block.play-types
    h5 Спектакли
    .form-check
      label.form-check-label
        input.form-check-input(type='checkbox' name='for-adults' checked=true
          data-disabled-if-enabled="[name='for-kids']"
        )
        |  для взрослых
    .form-check
      label.form-check-label
        input.form-check-input(type='checkbox' name='for-kids' checked=true
          data-disabled-if-enabled="[name='for-adults']"
        )
        |  для детей
    .form-check
      label.form-check-label
        input.form-check-input(type='checkbox' name='musical' checked=true)
        |  музыкальные
    .form-check
      label.form-check-label
        input.form-check-input(type='checkbox', name='dancing' checked=true)
        |  танцевальные
    .form-check
      label.form-check-label
        input.form-check-input(type='checkbox' name='ballet' checked=true)
        |  балет
    .form-check
      label.form-check-label
        input.form-check-input(type='checkbox' name='opera' checked=true)
        |  опера
  .filter-block.scenes
    h5 Сцены
    each scene in options.scenes
      .form-check
        label.form-check-label
          input.form-check-input(type='checkbox' name='scene-' + scene.key checked=true)
          = ' ' + scene.title
  .filter-block
    p
      span.hidden-sm-down Присылайте замечания или пожелания Максиму на
      span.hidden-md-up Для связи:
      =' '
      a(href='mailto:max@theatres.kh.ua') max.gopey@gmail.com