each show in date.shows
  - var showDateMoment = moment(show.date)
  - var scene = show.scene || show.play.scene;
  .show-row(class=showFilterClasses(show))
    .row.show-info.show-brief(itemscope='' itemtype='http://schema.org/TheaterEvent')
      .show-time.col-md-1
        time(
          datetime=showDateMoment.format('YYYY-MM-DDTHH:mmZZ')
          itemprop='startDate'
          content=showDateMoment.format('YYYY-MM-DDTHH:mmZZ')
        )
          = showDateMoment.format('H:mm')
      .show-brief.col-md-11
        h4.show-title
          a(href=(show.play.url || '#') itemprop='url' content=show.play.url)
            span(itemprop='name')= show.play.title
        if show.play.premiere
          =' '
          sup.badge.badge-warning премьера
        .show-scene
          div(itemprop='location', itemscope='', itemtype='http://schema.org/PerformingArtsTheater')
            meta(itemprop='name', content=show.theatre.houseSlug ? 'Дом Актера' : show.theatre.title)
            meta(itemprop='address', content='Kharkiv, Ukraine')
          span(itemprop='performer', itemscope='', itemtype='http://schema.org/TheaterGroup')
            link(itemprop='url', href=show.theatre.url)
            meta(itemprop='name', content=show.theatre.title + (show.theatre.houseSlug ? ', Дом Актера' : ''))
            = show.theatre.title + (show.theatre.houseSlug ? ', Дом Актера' : '')
          span.show-separator= ' · '
          span.nobr= scene.title
          if show.price || show.buyTicketUrl
            span(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
              span.show-separator= ' · '
              if show.price
                meta(itemprop='priceCurrency', content='UAH')
              if show.price && !show.buyTicketUrl
                span.price.nobr(itemprop='price', content=show.price)= show.price
              if show.buyTicketUrl
                a(title='Купить билеты' itemprop='url' href=show.buyTicketUrl)
                  if show.price
                    span.price.nobr(itemprop='price', content=show.price)= show.price
                  else
                    span.price.nobr купить билеты
          if show.play.genre
            span.hidden-sm-down
              span.show-separator= ' · '
              =show.play.genre
    .show-details
      .row
        include show-details
